
body {
  font-family: Helvetica, sans-serif;
  font-size: .75rem;
}

#portrait {
  margin: auto;
  display: block;
  max-width: 7rem;
  background-size: cover;
  object-fit: cover;
}

#intro {
  position: relative;
}

h1 {
  text-align: center;
  font-weight: bold;
}

h2 {
  margin-bottom: 1em;
}

hr {
  height: .075rem;
  background: lightsteelblue;
  border-radius: .25rem;
}

li {
  line-height: 1.25;
}

#contact {
  display: grid;
  grid-gap: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  text-align: center;
}

.phone-email {
  margin: 0 auto;
  text-align: center;
}

#header-professional {
  margin-top: 2em;
  display: block;
}

.date {
  float: right;
  margin: auto;
}

@media (min-width: 40em) {
  #container {
  width: 90%;
  margin: auto;
  max-width: 600px;
  }
}

@media (min-width: 55em) {
  body {
  font-size: 1rem;
}
  #container {
  max-width: 850px;
  }
}

@media (min-width: 75em) {
  #container {
  max-width: 1000px;
  }
}


@media (min-width: 90em) {
  #container {
  max-width: 1200px;
  }
}

