
body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

#portrait {
  margin: auto;
  display: block;
  max-width: 35%;
  max-height: 25%;
}

#container {
  width: 900px;
  margin: auto;
}

#intro {
  position: relative;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

h3 {
  font-size: 20px;
}

hr {
  height: 2px;
  background: lightsteelblue;
  border-radius: 5px;
}

#contact {
  display: block;
}

.address {
  float: left;
  margin: auto;
}

.phone-email {
  float: right;
  margin: auto;
}

#header-professional {
  margin-top: 100px;
  display: block;
}

.date {
  float: right;
  margin: auto;
}